# Docker Compose local infrastructure variables
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=mentormatch_db
MYSQL_USER=mentormatch
MYSQL_PASSWORD=mentormatch
MYSQL_PORT=3306

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
